@import 'src/styles/variables';
@import 'src/styles/mixins';

.create-poll {
  padding: $padding_main_components;
}

.form {
  composes: form from 'src/styles/form.scss';
  width: 24rem;
  margin: 0 auto;
}

.title {
  margin: $margin_title_main_components;
}

.fields-list {
  @include ul-reset();
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  margin-top: 1.5rem;
  display: block;
  position: relative;
  width: 20rem;
}

.input {
  composes: input from 'src/styles/input.scss';
  width: inherit;

  &:focus ~ .label,
  &:valid ~ .label {
    transform: translateY(-100%);
    font-size: 0.875rem;
    font-weight: bold;
    opacity: 1;
  }

  &:focus ~ .line {
    transform: scaleX(1);
  }
}

.label {
  position: absolute;
  opacity: $input_deemphasize_mult;
  left: 0;
  transition: all $duration_input_transition;
}

.line {
  content: '';
  position: absolute;
  height: 2px;
  width: inherit;
  transform: scaleX(0);
  left: 0;
  bottom: 0;
  background: $clr_input_border;
  transition: transform $duration_input_transition / 2 ease-out;
}

.plus {
  background: lighten($clr_container_btn, 10%);
}

.button {
  composes: button from 'src/styles/button.scss';
}
