@import 'src/styles/variables';

.title {
  margin: $margin_title_main_components;
  grid-area: title;
}

.chart {
  margin: 0 auto;
  width: 300px;
  height: 240px;
  grid-area: chart;
}

.options {
  grid-area: options;
}

.share {
  grid-area: share;
  margin-top: 3rem;
}

.poll {
  padding: $padding_main_components;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'title title'
    'options chart'
    'share share';
}

.spinner {
  grid-area: title;
  margin-left: auto;
  margin-right: auto;
}
