@import 'src/styles/variables';
@import 'src/styles/mixins';

.form {
  composes: form from 'src/styles/form.scss';
  text-align: left;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  margin-bottom: 0.5rem;
}

.option-list {
  @include ul-reset();
  flex-grow: 2;
  margin-bottom: 1.25em;
}

.option {
  font-size: inherit;
  width: 1em;
  height: 1em;
  margin: 0 0.5em;
  transform: translateY(20%);
}

.input {
  composes: input from 'src/styles/input.scss';
  margin: 0.75em;
  margin-bottom: 0;
}

.plus {
  cursor: pointer;
  text-align: center;
}

.submit {
  composes: button from 'src/styles/button.scss';
}
