@import 'src/styles/variables';
@import 'src/styles/mixins';

.form {
  text-align: left;
  background: $clr_form_bg;
  border-radius: 0.5em;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  margin-bottom: 0.5rem;
}

.option-list {
  @include ul-reset();
  flex-grow: 2;
  margin-bottom: 1.25em;
}

.option {
  font-size: inherit;
  width: 1em;
  height: 1em;
  margin: 0 0.5em;
  transform: translateY(20%);
}

.input {
  border: none;
  border-bottom: 1px solid $clr_container_fnt;
  background: inherit;
  margin: 0.75em;
  margin-bottom: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;

  &:focus {
    outline: none;
  }
}

.plus {
  cursor: pointer;
  text-align: center;
}

.submit {
  border: none;
  border-radius: 5px;
  background: $clr_container_btn;
  font-size: inherit;
  color: $clr_container_btn_fnt;
  cursor: pointer;
  height: 2em;
  width: 100%;
  padding: 0 2em;
}
