@import 'src/styles/variables.scss';

.navbar {
  height: 3rem;
  font-size: 1.5rem;
  background: $clr_navbar_bg;
  display: flex;
  align-items: center;
  position: relative;
}

.header {
  font-weight: bold;
  margin: 0 auto;
  text-decoration: none;
  color: inherit;
}

.buttons {
  position: absolute;
  right: 0;
  font-size: 1rem;
  height: inherit;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: inherit;
  color: $clr_container_fnt;
  background: $clr_navbar_btn;
  min-width: 3rem;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  padding: 0 0.75rem;
  position: relative;
  transition: background $duration_navbar_button_transition;

  &:after,
  &:before {
    content: '';
    height: 1.25rem;
    border-left: 1px solid $clr_navbar_btn_hover;
    position: absolute;
    transition: opacity $duration_navbar_button_transition;
  }

  &:after {
    right: 0;
  }

  // To have nice transition effect :before element
  // overlaps :after element of the previous button.
  &:before {
    left: -1px;
    height: 100%;
    opacity: 0;
  }

  &:last-of-type:after,
  &:first-of-type:before {
    display: none;
  }

  &:not(.active):hover {
    background: $clr_navbar_btn_hover;

    &:before {
      opacity: 1;
    }
  }
}

.active {
  background: $clr_container_bg;

  &:after {
    opacity: 0;
  }

  &:before {
    border-color: $clr_container_bg;
    opacity: 1;
  }
}

.icon-container {
  width: 1.5rem;
  margin-left: 0.5rem;
  fill: $clr_container_fnt;
}
