@import 'src/styles/variables.scss';

.navbar {
  height: 3rem;
  font-size: 1.5rem;
  background: $clr_navbar_bg;
  display: flex;
  align-items: center;
  position: relative;
}

.header {
  font-weight: bold;
  width: 100%;
}

.buttons {
  position: absolute;
  right: 0;
  font-size: 1rem;
  height: inherit;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: inherit;
  color: $clr_container_fnt;
  background: $clr_navbar_btn;
  min-width: 3rem;
  margin-left: 0.5rem;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  padding: 0 0.75rem;
}
