$clr_container_bg: #eee;
$clr_container_fnt: #666;
$clr_container_btn: #aaa;
$clr_container_btn_fnt: #fff;
$clr_navbar_bg: #ddd;
$clr_navbar_btn: darken($clr_navbar_bg, 5%);
$clr_pollslist_record_main: #eee;
$clr_pollslist_record_alt: darken($clr_pollslist_record_main, 2%);
$clr_spinner: $clr_container_fnt;
$clr_form_bg: #ddd;
$clr_danger: tomato;
$clr_info: deepskyblue;
