$clr_container_bg: #eee;
$clr_container_fnt: #666;
$clr_navbar_bg: #ddd;
$clr_navbar_btn: darken($clr_navbar_bg, 5%);
$clr_pollslist_record_main: #eee;
$clr_pollslist_record_alt: darken($clr_pollslist_record_main, 2%);
