@import 'src/styles/variables';

.button {
  border: none;
  border-radius: 5px;
  background: $clr_container_btn;
  font-size: inherit;
  color: $clr_container_btn_fnt;
  cursor: pointer;
  height: 2em;
  width: 100%;
  padding: 0 2em;
  transition: filter $duration_container_button_transition;

  &:hover {
    filter: brightness(1.07);
  }
}
