@import 'src/styles/variables';

.input {
  border: none;
  border-bottom: 1px solid rgba($clr_input_border, $input_deemphasize_mult);
  background: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  transition: border-bottom $duration_input_transition;

  &:focus {
    outline: none;
    border-bottom: 1px solid $clr_container_fnt;
  }
}
